html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
  background-image: url("./components/images/landing-fondo.jpg");
  background-size: cover; /* Cubrir toda la página */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-attachment: fixed; /* Fijar la imagen para que se desplace con la página */
  background-position: center center;
  }