.divGeneralCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 300px 80px 300px
}

.titleCreate{
    color: #541734;
    font-size: 50px;
}

.formCreate{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: rgba(84, 23,52, 0.8);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 black;
}

.containerInputCreate{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.labelCreate{
    color: #f0debb;
    font-size: 22px;
    margin-bottom: 10px;
    text-shadow: 4px 4px 4px black;
}

.inputCreate{
    border-radius: 10px;
    height: 30px;
    background-color: #f0debb;
    color: #541734;
    margin-bottom: 5px;
    padding: 3px 30px 3px 30px;
    font-size: 15px;
    box-shadow: 0 0 5px 0 black;
    resize: none;
    transition: transform 0.3s ease-in-out;
}

.inputCreate:hover{
    transform: scale(1.03) ;
    -webkit-transform: scale(1.03) ;
    -moz-transform: scale(1.03) ;
}

.inputCreateTextarea{
    border-radius: 10px;
    height: 150px;
    background-color: #f0debb;
    color: #541734;
    margin-bottom: 5px;
    padding: 10px 30px 30px 30px;
    font-size: 15px;
    box-shadow: 0 0 5px 0 black;
    resize: none;
    transition: transform 0.3s ease-in-out;
}

.inputCreateTextarea:hover{
    transform: scale(1.03) ;
    -webkit-transform: scale(1.03) ;
    -moz-transform: scale(1.03) ;
}

.errorsCreate{
    margin: 0;
    font-size: 13px;
    color: coral;
    text-shadow: 2px 2px 2px black;
}

.labelDietsCreate{
    color: #f0debb;
    font-size: 22px;
    padding-top: 20px;
    text-shadow: 4px 4px 4px black;
}

.containerDiets{
    display: flex;
    justify-content: space-evenly;
    background-color: #f0debb;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 black;
}

.containerInputDietsCreate{
    width: calc(33.33% - 10px);
    padding: 15px 0 15px 0;
    transition: transform 0.3s ease-in-out;
}

.containerInputDietsCreate:hover{
    transform: scale(1.05) ;
    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
}

.labelDietsCheckbox{
    color: #541734;
    text-shadow: 1px 1px 1px black;
    font-size: 22px;
    cursor: pointer;
}

.inputDietsCreate{
    cursor: pointer;
}

.containerButtonCreate{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonCreate{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: #541734;
    font-size: 22px;
    background-color: #f0debb;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 0 10px 0 black;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.buttonCreate:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}