.containerDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
}

.containerImageDetail{
    display: flex;
    position: relative;
    width: 80vw;
    height: 500px;
    background-color: #f0debb;
    border-radius: 30px;
    overflow: hidden;
    border: 10px solid #541734;
    box-shadow: 0 0 10px 0 black;
}

.containerImageDetail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: contrast(109%) saturate(150%);
    filter: contrast(109%) saturate(150%);
}

.nameDetail{
    position: absolute;
    margin: 450px 70px 0 70px;
    font-size: 50px;
    color: #f0debb;
    text-shadow: 4px 4px 4px black;
    word-wrap: break-word;
    white-space: pre-wrap;
    transform: translateY(-100%);
}

.containerInfoDetail{
    display: flex;
    flex-direction: column;
    background-color: rgba(84, 23,52, 0.8);
    width: 75vw;
    padding: 20px 0 60px 0;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 10px 0 black;
}

.indexInfoDetail{
    font-size: 27px;
    font-weight: bolder;
    color: #f0debb;
    margin: 0 110px 20px 110px;
    width: 80%;
    margin-top: 40px;
    text-shadow: 2px 2px 2px black;
}

.infoDetail{
    font-size: 20px;
    font-weight: bold;
    color: #f0debb;
    margin: 0 110px 30px 110px;
    width: 80%;
    margin-top: 5px;
    text-shadow: 2px 2px 2px black;
}

.infoDetail a{
    text-decoration: none;
    color: coral;
}

.infoDetail a:visited{
    text-decoration: none;
    color: coral;
}

.infoDetail a:active{
    text-decoration: none;
    color: coral;
}

